---
 const { href } = Astro.props
---

<a href={href} class="w-fit cursor-pointer h-fit bounce btn border border-foreground bg-background text-foreground py-1 px-2 rounded flex items-center">
  <slot/>
</a>